<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Rural Software</title>
    <meta name="description" content="Data structures and LeetCode in Java" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/navigation.css" />

</head>

<body>
<header>
    <nav>
        <h2>Rural Software</h2>
    </nav>
</header>
    <h1>HOME PAGE</h1>


</body>
</html>