<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Rural Software</title>
    <meta name="description" content="Data structures and LeetCode in Java" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

</head>

<body>
<h1>register</h1>
<form id="signup-form" th:action="@{/register}" th:object="${user}" class="tutorial-form" method="post">
    <label>

        <input id="email" type="email" name="email"  class="input-title-filter" th:field="*{email}" placeholder="Email"  required />
    </label>

    <label>

        <input id="username" type="text" name="username"  class="input-title-filter" th:field="*{username}" placeholder="Username" required   />
    </label>
    <p th:text="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
    <label>
        <input id="password" type="password" name="password" placeholder="Password" class="input-title-filter" th:field="*{password}"  required />
    </label>
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <button type="submit" class="submit-button">
        Signup
    </button>
</form>

</body>
</html>